**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log

*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.exe
*.exe~
*.dll
*.so
*.dylib

*.test
*.out
go.work

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
.vagrant*
bin
docker/docker
.*.swp
a.out
*.orig
build_src
.flymake*
.idea
.DS_Store
docs/_build
docs/_static
docs/_templates
.gopath/
.dotcloud
*.test
bundles/
.hg/
.git/
vendor/pkg/
pyenv
Vagrantfile
*.retry01_Linux/Cheatsheets/rclone
01_Linux/Cheatsheets/rclone
